@model IEnumerable<photo>
<h1>photo</h1>
<p>
	<a asp-action="create">create new</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>photo</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
			
				<td>
					<img src="~/Images/@Html.DisplayFor(modelItem=>item.filename)"height="50" width="120"/>
				</td>
				<td><a asp-controller="Photo" asp-action="edit" class="btn btn-success" asp-route-id="@item.photo_id">EDIT</a></td>
				<td><a asp-controller="Photo" asp-action="delete" class="btn btn-success" asp-route-id="@item.photo_id">DELETE</a> </td>
			</tr>
		}
	</tbody>
</table>